$navbar-height:85px;
$black-transparent:rgba(0,0,0,0.3);
$primary-color: #202835;
$light-blue:#303a49;
$orange:#fb6816;
$blue:#428bca;
$text-color1:#fff;
$big-text-height:210px;
$h1-line-height:145px;
$slogan-line-height:$big-text-height - $h1-line-height;
$primary-font:'Questrial', Arial , Sans-serif;
$screen-padding:20px;